    <aside class="socials-bar">
        <ul>
            <li>
                <a href="/contact/">_get_in_touch</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/jaredgrigby/">
                    <img src="/assets/img/socials/linkedin.svg" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="mailto:talk@jaredrigby.co.uk">
                    <img src="/assets/img/socials/email.svg" alt="Email">
                </a>
            </li>
            <li>
                <a href="https://www.discord.com/users/jazibobs">
                    <img src="/assets/img/socials/discord.svg" alt="Discord">
                </a>
            </li>
        </ul>
    </aside>
    <script src="/assets/js/main.js"></script>
</body>
</html>