    <aside class="socials-bar">
        <ul>
            <li>
                <a href="/contact/">_get_in_touch</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/jaredgrigby/">
                    <img src="/assets/img/socials/linkedin.svg" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="mailto:hello@jgr.digital">
                    <img src="/assets/img/socials/email.svg" alt="Email">
                </a>
            </li>
            <li>
                <a href="https://www.discord.com/users/jazibobs">
                    <img src="/assets/img/socials/discord.svg" alt="Discord">
                </a>
            </li>
        </ul>
    </aside>
    <footer class="site-footer">
        <p>
            jgr.digital is a trading name of Gameful Software Ltd.<br>
            Registered in England & Wales (Company Number: 15106597)
        </p>
        <p>9 Lawrie Avenue, Ramsbottom, Greater Manchester, BL0 9NW</p>
        <p>
            Email: <a href=mailto:hello@jgr.digital">hello@jgr.digital</a><br>
            Phone: <a href="tel:+44 7530 235 816">+44 7530 235 816</a>
        </p>
    </footer>
    <script src="/assets/js/main.js"></script>
</body>
</html>