<header class="main-navigation">
    <div class="logo">
        <div class="logo__content">
            <img src="/assets/img/jgr-morse.svg" alt="jgr.digital logo">
            jgr.digital
        </div>
    </div>
    <nav>
        <ul>
            <li {% if page.url == '/' %} class="active" {%endif %}>
                <a href="/">
                    <span>Home</span>
                </a>
            </li>
            <li {% if page.url == '/about/' %} class="active" {%endif %}>    
                <a href="/about">
                    <span>About</span>
                </a>
            </li>
            <li {% if page.url == '/services/' %} class="active" {%endif %}>
                <a href="/services">
                    <span>Services</span>
                </a>
            </li>
            <li {% if page.url == '/portfolio/' %} class="active" {%endif %}>
                <a href="/portfolio">
                    <span>Portfolio</span>
                </a>
            </li>
            <li {% if page.url == '/contact/' %} class="active" {%endif %}>
                <a href="/contact">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>
</header>