<div class="price-table">
  <div class="price-table__single">
    <h3 class="price-table__title">1 session</h3>
    <p class="price-table__desc">A single 60 minute session about a topic of your choice</p>
    <p class="price-table__point">£40</p>
    <p class="price-table__per-session"></p>
    <a href="https://buy.stripe.com/8wMeVkevH9lN6pa5kn" class="price-table__link">Buy 1 session</a>
  </div>

  <div class="price-table__single price-table__single--popular">
    <h3 class="price-table__title">5 sessions</h3>
    <p class="price-table__desc">5 x 60 minute sessions to help build your confidence</p>
    <p class="price-table__point">£175</p>
    <p class="price-table__per-session">£35</p>
    <a href="https://buy.stripe.com/eVa9B0afr2XpfZK3cd" class="price-table__link">Buy 5 sessions</a>
  </div>

  <div class="price-table__single">
    <h3 class="price-table__title">10 sessions</h3>
    <p class="price-table__desc">10 x 60 minute sessions to achieve targeted improvements</p>
    <p class="price-table__point">£320</p>
    <p class="price-table__per-session">£32</p>
    <a href="https://buy.stripe.com/7sIbJ81IV55x7te148" class="price-table__link">Buy 10 sessions</a>
  </div>
</div>