:root {
    --spacing: 1rem;
    --white: #fff;
    --grey: #1f1e25;
    --grey-overlay: rgba(1,1,1,0.2);
    --orange: #f0b65a;
    --red: #ff6b6b;
    --blue: #1e95e7;
    --purple: #895197;
    --green: #99b84a;
}

html {
    background-color: var(--grey);
    color: #fff;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: var(--grey-overlay);
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: calc(var(--spacing) * 2) 0;
}

p {
    margin: calc(var(--spacing) * 1) 0;
}

a {
    color: var(--blue);
}

main {
    min-height: 100vh;
    padding: calc(var(--spacing) * 8) 0 calc(var(--spacing) * 6);

    @media (max-width: 1000px) {
        padding: calc(var(--spacing) * 12) 0 calc(var(--spacing) * 8);
    }
}

img {
    display: block;
    max-width: 100%;
}

figure {
    padding: var(--spacing);
    background: var(--grey);
    margin: calc(var(--spacing) * 2) 0;
    width: 100%;
}

.logo {
    background-color: var(--grey);
    display: flex;
    align-items: center;
    padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2);
    
    img {
        width: 2rem;
        margin-right: calc(var(--spacing) / 2);
    }

    .logo__content {
        display: flex;
        opacity: 0.25;
    }
}

.main-navigation {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 10;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: var(--grey);
        border-top: calc(var(--spacing) / 4) solid var(--grey-overlay);

        @media (max-width: 1100px) {
            flex-wrap: wrap;
        }
    }

    li {
        border-right: calc(var(--spacing) / 4) solid var(--grey-overlay);

        @media (max-width: 1100px) {
            border-bottom: calc(var(--spacing) / 4) solid var(--grey-overlay);
            width: 33.3333%;
        }

        @media (max-width: 500px) {
            width: 50%;
        }
    }

    a {
        margin-top: calc(var(--spacing) / 4 * -1);
        border-top: calc(var(--spacing) / 4) solid transparent;
        display: block;
        color: #fff;
        padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2);
        text-decoration: none;
        text-transform: lowercase;
        min-width: 11rem;
        text-align: center;
        transition: color 0.4s ease, border-color 0.4s ease;

        :before {
            content: "_";
        }

        li:hover & {
            color: var(--orange);
        }

        .active & {
            color: var(--orange);
            border-top: calc(var(--spacing) / 4) solid var(--red);
        }
    }
}

.site-footer {
    text-align: center;
    opacity: 0.25;
    line-height: 1.5;
    padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2) calc(var(--spacing) * 3);

    a {
        color: #fff;
    }
}

.socials-bar {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--grey);
    border-top: calc(var(--spacing) / 4) solid var(--grey-overlay);
    
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        border-right: calc(var(--spacing) / 4) solid var(--grey-overlay);

        &:first-child {
            @media (max-width: 500px) {
                display: none;
            }
        }
    }

    a {
        color: var(--white);
        text-decoration: none;
        display: block;
        padding: calc(var(--spacing) / 2) calc(var(--spacing));
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.25;
        transition: opacity 0.4s ease;

        &:hover {
            opacity: 1;
        }
    }

    img {
        height: 1rem;
        width: auto;
    }
}

.homepage {
    display: flex;
    line-height: 1.5;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 90rem;
    margin: auto;

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    .hello {
        color: var(--orange);
        &:before {
            content: "<";
        }

        &:after {
            content: ">";
        }
    }

    .green {
        color: var(--green);
    }

    .red {
        color: var(--red);
    }

    .purple {
        color: var(--purple);
    }

    .blue {
        color: var(--blue);
    }

    .intro {
        font-size: 1.2rem;
        padding-right: calc(var(--spacing) * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;

        @media (max-width: 1000px) {
            padding-right: var(--spacing);
            padding-left: var(--spacing);
            max-width: 100%;
        }

        td {
            &:first-child {
                opacity: 0.25;
                text-align: right;
                min-width: 4rem;
                padding-right: var(--spacing);

                @media (max-width: 500px) {
                    display: none;
                }
            }

            &:nth-child(2) {
                border-left: 2px solid var(--grey-overlay);
                padding-left: var(--spacing);
            }
        }

        a {
            color: var(--blue);
            text-decoration: none;
            transition: color 0.4s ease, background 0.4s ease;

            &:hover {
                color: var(--white);
                background: var(--blue);
            }
        }
    }

    .hero {
        padding-left: calc(var(--spacing) * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        max-width: 50%;

        @media (max-width: 1000px) {
            padding-right: var(--spacing);
            padding-left: var(--spacing);
            max-width: 100%;
        }
        
        h1 {    
            font-size: 10vw;
            line-height: 0.8;
            margin-top: 0;
            margin-bottom: var(--spacing);

            &:before {
                content: "<";
            }

            &:after {
                content: ">";
            }

            @media (max-width: 1000px) {
                text-align: center;
            }

            @media (min-width: 1500px) {
                font-size: 10rem;
            }
        }

        h2 {
            font-size: 2rem;
            line-height: 1;
            opacity: 0.25;
            margin-top: 0;

            @media (max-width: 1000px) {
                min-height: 5rem;
                text-align: center;
            }

            @media (min-width: 1000px) {
                &:before {
                    content: "// ";
                }
            }
        }
    }
}

.about {
    width: clamp(20rem, 50%, 50rem);
    line-height: 1.5;
    margin: auto;

    h1 {
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;

        &:before {
            content: "// ";
        }

        @media (max-width: 700px) {
            font-size: 2rem;

            &::before {
                content: "";
            }
        }
    }

    .about__image-container {
        display: flex;
        justify-content: center;
        margin: calc(var(--spacing) * 2) auto calc(var(--spacing) * 2);
    }

    .about__image {
        display: block;
        width: clamp(20rem, 50%, 30rem);
        margin: auto;
        clip-path: circle(50% at 50% 50%);
        filter: grayscale(100%) contrast(1.25);
        opacity: 0.25;
    }

    .about__copy {
        position: relative;
        z-index: 2;
        font-size: 1.2rem;
    }
}

.experience {
    margin: auto;
    padding: calc(var(--spacing) * 1) 0 calc(var(--spacing) * 4);
    width: clamp(20rem, 75%, 55rem);
    position: relative;
    line-height: 1.5;

    h2 {
        color: var(--purple);
        margin: calc(var(--spacing) * 3) 0;
    }

    p {
        margin: 0 0 var(--spacing);
    }

    ul {
        margin: 0 0 calc(var(--spacing) * 2);
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    li {
        width: clamp(20rem, 75%, 40rem);
        padding: calc(var(--spacing) / 1);
        border: 2px solid;
        margin-bottom: calc(var(--spacing) * 3);
        display: flex;
        flex-direction: column-reverse;
    }

    .work {
        color: var(--orange);
        border-color: var(--orange);
    }

    .school {
        color: var(--red);
        border-color: var(--red);
        
        @media (min-width: 700px) {
            align-self: flex-end;
        }
    }

    @media (min-width: 700px) {
        padding-left: calc(var(--spacing) * 2);
        :before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% - var(--spacing) * 4);
            border-left: 2px solid var(--purple);
        }
    }
}

.services {
    margin: auto;
    h1 {
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;

        &:before {
            content: "// ";
        }

        @media (max-width: 700px) {
            font-size: 2rem;

            &::before {
                content: "";
            }
        }

    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: calc(var(--spacing) * 2) 0;
        width: clamp(20rem, 75%, 55rem);
        margin: auto auto calc(var(--spacing) * 2);
        list-style: none;
        justify-content: space-between;
    }

    li {
        width: calc(50% - var(--spacing));
        border: 2px solid;
        color: var(--orange);
        padding: calc(var(--spacing) * 2);
        margin-bottom: calc(var(--spacing) * 2);
        line-height: 1.5;

        @media (max-width: 900px) {
            width: 100%;
        }

        &:nth-child(1) {
            border-color: var(--orange);
            color: var(--orange);
        }

        &:nth-child(2) {
            border-color: var(--red);
            color: var(--red);
        }

        &:nth-child(3) {
            border-color: var(--blue);
            color: var(--blue);
        }

        &:nth-child(4) {
            border-color: var(--purple);
            color: var(--purple);
        }
    }
}

.project {
    margin: auto;
    width: clamp(20rem, 75%, 55rem);
    line-height: 1.5;

    h1 {
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;

        &:before {
            content: "// ";
        }

        @media (max-width: 700px) {
            font-size: 2rem;

            &::before {
                content: "";
            }
        }

    }

    h2 {
        margin: calc(var(--spacing) * 3) 0 var(--spacing);
        color: var(--orange)
    }

    h3 {
        margin: var(--spacing) 0 var(--spacing);
        color: var(--green)
    }

    .project__filters {
        background: var(--grey-overlay);
        padding: var(--spacing);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing);

        a {
            border: 2px solid;
            display: inline-block;
            padding: var(--spacing);
            text-decoration: none;
            transition: all 0.3s ease;
        }

        a:hover {
            color: var(--grey);
        }

        a:nth-child(2) {
            border-color: var(--blue);
            color: var(--blue);
        }

        a:nth-child(2):hover { 
            color: var(--grey);
            background-color: var(--blue); 
        }

        a:nth-child(3) {
            border-color: var(--purple);
            color: var(--purple);
        }

        a:nth-child(3):hover { 
            color: var(--grey);
            background-color: var(--purple); 
        }

        a:nth-child(4) {
            border-color: var(--red);
            color: var(--red);
        }

        a:nth-child(4):hover { 
            color: var(--grey);
            background-color: var(--red); 
        }
    }

    .project__single {
        background: var(--grey-overlay);
        padding: var(--spacing);
        margin-bottom: calc(var(--spacing) * 2);
        border-bottom: 4px solid;
    }

    .project__single.game-dev {
        
        border-color: var(--blue);
    }

    .project__single.web-dev {
        
        border-color: var(--purple);
    }

    .project__single.edu {
        
        border-color: var(--red);
    }

    .project__item {
        display: flex;
        color: var(--red)
    }

    .project__image {
        width: 40%;
        height: 100%;
        object-fit: cover;
        display: block;
        filter: grayscale(100%) contrast(1.25);
        opacity: 0.25;
        transition: filter 0.4s ease, opacity 0.4s ease;

        .project__item:hover &{
            filter: grayscale(0) contrast(1);
            opacity: 1;
        }
    }

    .project__content {
        padding: 0 calc(var(--spacing) * 2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            margin-top: 0;
        }
    }

    .button {
        align-self: flex-start;
        margin-top: calc(var(--spacing) * 2);
        color: var(--blue);
        text-transform: uppercase;
        text-decoration: none;
        padding: calc(var(--spacing) / 2) calc(var(--spacing));
        border: 2px solid var(--blue);
        transition: all 0.4s ease;

        &:hover {
            background: var(--blue);
            color: var(--white);
        }
    }
}

.page {
    margin: auto;
    max-width: 60rem;
    line-height: 1.5;
    text-align: left;
    
    h1 {
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;

        &:before {
            content: "// ";
        }

        @media (max-width: 700px) {
            font-size: 2rem;

            &::before {
                content: "";
            }
        }

        span {
            &:after{
                content: "_";
                letter-spacing: 0;
            }
        }
    }

    h2 {
        color: var(--orange)
    }

    ul {
        list-style:  square;
        padding-left: var(--spacing);

        li {
            margin-bottom: var(--spacing);
        }
    }

    table {
        width: 100%;
        margin: calc(var(--spacing) * 3) 0;
        
        tr {
            td {
                border-top: calc(var(--spacing) / 4) solid var(--grey-overlay);
            }

            &:last-child {
                td {
                    border-bottom: calc(var(--spacing) / 4) solid var(--grey-overlay);
                }
            }
        }

        @media (max-width: 500px) {
            margin: calc(var(--spacing) * 1) 0;
        }

        td {
            padding: var(--spacing) 0;
            text-align: center;
            width: 50%;
        }
    }
}

.contact {
    margin: auto;
    max-width: 60rem;
    line-height: 1.5;
    text-align: center;
    
    h1 {
        color: var(--green);
        text-transform: uppercase;
        text-align: center;
        font-size: 4rem;

        &:before {
            content: "// ";
        }

        @media (max-width: 700px) {
            font-size: 2rem;

            &::before {
                content: "";
            }
        }

        span {
            &:after{
                content: "_";
                letter-spacing: 0;
            }
        }
    }

    table {
        width: 100%;
        margin: calc(var(--spacing) * 3) 0;
        
        tr {
            td {
                border-top: calc(var(--spacing) / 4) solid var(--grey-overlay);
            }

            &:last-child {
                td {
                    border-bottom: calc(var(--spacing) / 4) solid var(--grey-overlay);
                }
            }
        }

        @media (max-width: 500px) {
            margin: calc(var(--spacing) * 1) 0;
        }

        td {
            padding: var(--spacing) 0;
            text-align: center;
            width: 50%;
        }
    }
}

.post {
    margin: auto;
    width: clamp(20rem, 50%, 55rem);
    line-height: 1.5;

    h1 {
        color: var(--green);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }

    h2 {
        color: var(--orange);
    }

    .date {
        text-align: center;
        opacity: 0.25;
        margin-bottom: calc(var(--spacing) * 2);
    }
}

.post-navigation {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    .prev {
        padding-right: var(--spacing);
    }

    .next {
        padding-left: var(--spacing);
        text-align: right;
    }
}

.posts {
    margin: auto;
    width: clamp(20rem, 80%, 55rem);
    line-height: 1.5;

    h1 {
        color: var(--green);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        width: 100%;
        padding: calc(var(--spacing));
        border: 2px solid var(--grey);
        margin-bottom: calc(var(--spacing) * 2);

        @media (min-width: 700px) {
            width: calc(50% - var(--spacing));
        }

        .date {
            opacity: 0.25;
        }
    }
}