{% include head.html %}
{% include header.html %}

<main class="homepage">
    <section class="hero">
        <h1 class="green">Jared Rigby</h1>
        <h2 id="js-typewriter-effect"></h2>
    </section>
    <section class="intro">
        <table>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td><span class="hello wave">hello</span></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td>Hello, my name is <span class="green">Jared.</span></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td>I am a <span class="purple">creative programmer</span></td>
            </tr>
            <tr>
                <td>6</td>
                <td></td>
                <td>and founder of <a href="https://www.gameful.dev/">Gameful Software</a>.</td>
            </tr>
            <tr>
                <td>7</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td></td>
                <td>I have a passion for building</td>
            </tr>
            <tr>
                <td>9</td>
                <td></td>
                <td><span class="purple">playful</span>, <span class="red">interactive</span> and <span class="green">engaging</span></td>
            </tr>
            <tr>
                <td>10</td>
                <td></td>
                <td>digital experiences.</td>
            </tr>
            <tr>
                <td>11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>12</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </section>
</main>

{% include footer.html %}